<mat-card class="card">
    <div class=" negrita ">
        {{product.name}}
    </div>
    <mat-card-content class=" alto">
        {{product.description}}

    </mat-card-content>
    <mat-card-actions>
        <div class="contentButton">
            <button class="" mat-flat-button (click)="onClick()" color="primary">Añadir al carrito {{ product.price |
                currency}} <mat-icon>
                    add_shopping_cart</mat-icon></button>
        </div>
    </mat-card-actions>
</mat-card>